---
// import { Analytics } from '@vercel/analytics/react';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="I'm Federico Full Stack Developer & UX/UI enthusiast" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script type="text/javascript" is:inline>
			(function (f, b) { if (!b.__SV) { var e, g, i, h; window.mixpanel = b; b._i = []; b.init = function (e, f, c) { function g(a, d) { var b = d.split("."); 2 == b.length && ((a = a[b[0]]), (d = b[1])); a[d] = function () { a.push([d].concat(Array.prototype.slice.call(arguments, 0))); }; } var a = b; "undefined" !== typeof c ? (a = b[c] = []) : (c = "mixpanel"); a.people = a.people || []; a.toString = function (a) { var d = "mixpanel"; "mixpanel" !== c && (d += "." + c); a || (d += " (stub)"); return d; }; a.people.toString = function () { return a.toString(1) + ".people (stub)"; }; i = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split( " "); for (h = 0; h < i.length; h++) g(a, i[h]); var j = "set set_once union unset remove delete".split(" "); a.get_group = function () { function b(c) { d[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); a.push([e, call2]); }; } for ( var d = {}, e = ["get_group"].concat( Array.prototype.slice.call(arguments, 0)), c = 0; c < j.length; c++) b(j[c]); return d; }; b._i.push([e, f, c]); }; b.__SV = 1.2; e = f.createElement("script"); e.type = "text/javascript"; e.async = !0; e.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === f.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; g = f.getElementsByTagName("script")[0]; g.parentNode.insertBefore(e, g); } })(document, window.mixpanel || []);
			mixpanel.init("e59eaaa5db5d686f613ada2bdd1bd42c");
		</script>
	</head>
	<body>
		<slot />
		<!-- <Analytics client:visible /> -->
	</body>
</html>
<style is:global>
	:root {
		--primary-color: #9EB2B2;
		--primary-accent-color: #D9FFFF;

		--background-color: #000;
		--secondary-background-color: #101010;

		--border-color: #2E2E2E;

		--border-radius: 1.25rem;

		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	@font-face {
	font-family: 'Satoshi-Variable';
	src: url('/fonts/Satoshi-Variable.woff2') format('woff2'),
		url('/fonts/Satoshi-Variable.woff') format('woff'),
		url('/fonts/Satoshi-Variable.ttf') format('truetype');
		font-weight: 300 500 900;
		font-display: swap;
		font-style: normal;
	}

	html {
		font-family: 'Satoshi-Variable', system-ui, sans-serif;
		/* background: #13151a; */
		background: #000;
		background-size: 224px;
		color: var(--primary-color);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	/* Reset css */
	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video {
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-size:100%;
		vertical-align:baseline;
	}

	body {
		line-height:1;
	}

	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section {
		display:block;
	}

	nav ul {
		list-style:none;
	}

	blockquote, q {
		quotes:none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content:'';
		content:none;
	}

	a {
		margin:0;
		padding:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;
	}

	body {
		justify-content: center;
		align-items: center;
		display: flex;
		color: var(--primary-color);
	}

	h1 {
		/* font-size: 8rem; */
		font-size: calc(14px + 8vmin);
		font-weight: 900;
		line-height: 1;
		color: var(--primary-color);
		/* background: linear-gradient(97.13deg, var(--primary-color) 0%, #515151 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; */
	}
	h3 {
		/* font-size: 6rem; */
		font-size: calc(14px + 2vmin);
		font-weight: 300;
		line-height: 1.4;
		color: var(--primary-color);
		opacity: 0.7;
		background: linear-gradient(97.13deg, var(--primary-color) 0%, #515151 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h2 {
		/* font-size: 3rem;*/
		font-size: calc(14px + 4vmin);
		font-weight: 300;
		line-height: 1;
		color: var(--primary-color);
		background: linear-gradient(97.13deg, var(--primary-color) 0%, #515151 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	p {
		font-size: 2rem;
	}
	a {
		color: inherit;
		text-decoration: none;
	} 
	a:hover {
		color: inherit;
		text-decoration: none;
	}
	.text-accent {
		color: var(--primary-accent-color);
	}

	.mobile-hidden {
		display: none;
	}
	@media all and (min-width: 480px) {
		.mobile-hidden {
			display: inline-block;
		}
	}
	@media all and (min-width: 992px) and (max-width: 1470px) {
		.tablet-hidden {
			display: none;
		}
	}



	.rounded-tile__title {
		font-size: calc(16px + 2vmin);
		font-weight: 500;
	}

	.rounded-tile__description {
		font-size: calc(16px + 1vmin);
		font-weight: 400;
	}

	

	

</style>
